<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="../../img/favicon.ico">

	<title>Sitemap - Elcodi Documentation</title>

        <link href="../../css/bootstrap-custom.min.css" rel="stylesheet">
        <link href="../../css/font-awesome-4.0.3.css" rel="stylesheet">
        <link href="../../css/base.css" rel="stylesheet">
        <link rel="stylesheet" href="../../css/highlight.css">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        
    </head>

    <body>

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            

            <!-- Main title -->
            <a class="navbar-brand" href="../..">Elcodi Documentation</a>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            
                <!-- Main navigation -->
                <ul class="nav navbar-nav">
                
                
                    <li >
                        <a href="../..">Home</a>
                    </li>
                
                
                
                    <li >
                        <a href="../../quick-start/">Quick start</a>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Book <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../book/cart-architecture/">Cart architecture</a>
</li>

                        
                            
<li >
    <a href="../../book/dictionary/">Dictionary</a>
</li>

                        
                            
<li >
    <a href="../../book/emails/">Emails</a>
</li>

                        
                            
<li >
    <a href="../../book/events/">Events</a>
</li>

                        
                            
<li >
    <a href="../../book/">Home</a>
</li>

                        
                            
<li >
    <a href="../../book/payments/">Payments</a>
</li>

                        
                            
<li >
    <a href="../../book/philosophy/">Philosophy</a>
</li>

                        
                            
<li >
    <a href="../../book/plugins/">Plugins</a>
</li>

                        
                            
<li >
    <a href="../../book/processes/">Processes</a>
</li>

                        
                            
<li >
    <a href="../../book/product-architecture/">Product architecture</a>
</li>

                        
                            
<li >
    <a href="../../book/pull-requests/">Pull requests</a>
</li>

                        
                            
<li >
    <a href="../../book/running-test-suite/">Running test suite</a>
</li>

                        
                            
<li >
    <a href="../../book/shipping/">Shipping</a>
</li>

                        
                            
<li >
    <a href="../../book/standards/">Standards</a>
</li>

                        
                            
<li >
    <a href="../../book/what-is-elcodi/">What is elcodi</a>
</li>

                        
                            
<li >
    <a href="../../book/why-elcodi/">Why elcodi</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cookbook <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../cookbook/">Home</a>
</li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Installation</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../cookbook/installation/install-a-plugin/">Install a plugin</a>
</li>

        
            
<li >
    <a href="../../cookbook/installation/install-dependent-bundles/">Install dependent bundles</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Overwrite</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../cookbook/overwrite/overwrite-a-parameter/">Overwrite a parameter</a>
</li>

        
            
<li >
    <a href="../../cookbook/overwrite/overwrite-a-service/">Overwrite a service</a>
</li>

        
            
<li >
    <a href="../../cookbook/overwrite/overwrite-an-entity/">Overwrite an entity</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Adapters</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../cookbook/adapters/currency-rates-populator/">Currency rates populator</a>
</li>

        
            
<li >
    <a href="../../cookbook/adapters/image-resize/">Image resize</a>
</li>

        
            
<li >
    <a href="../../cookbook/adapters/location-provider/">Location provider</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Implementation</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../cookbook/implementation/implement-a-collector/">Implement a collector</a>
</li>

        
            
<li >
    <a href="../../cookbook/implementation/implement-a-controller-and-a-command/">Implement a controller and a command</a>
</li>

        
            
<li >
    <a href="../../cookbook/implementation/implement-a-factory/">Implement a factory</a>
</li>

        
            
<li >
    <a href="../../cookbook/implementation/implement-a-form-type/">Implement a form type</a>
</li>

        
            
<li >
    <a href="../../cookbook/implementation/implement-a-repository/">Implement a repository</a>
</li>

        
            
<li >
    <a href="../../cookbook/implementation/implement-an-entity/">Implement an entity</a>
</li>

        
            
<li >
    <a href="../../cookbook/implementation/implement-an-event-listener/">Implement an event listener</a>
</li>

        
    </ul>
  </li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Component <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../entity-translator/">Entity translator</a>
</li>

                        
                            
<li >
    <a href="../">Home</a>
</li>

                        
                            
<li >
    <a href="../media/">Media</a>
</li>

                        
                            
<li >
    <a href="../menu/">Menu</a>
</li>

                        
                            
<li class="active">
    <a href="./">Sitemap</a>
</li>

                        
                            
<li >
    <a href="../state-transition-machine/">State transition machine</a>
</li>

                        
                            
<li >
    <a href="../template/">Template</a>
</li>

                        
                        </ul>
                    </li>
                
                
                </ul>
            

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="modal" data-target="#mkdocs_search_modal">
                        <i class="fa fa-search"></i> Search
                    </a>
                </li>
                
                    <li >
                        <a rel="next" href="../menu/">
                            <i class="fa fa-arrow-left"></i> Previous
                        </a>
                    </li>
                    <li >
                        <a rel="prev" href="../state-transition-machine/">
                            Next <i class="fa fa-arrow-right"></i>
                        </a>
                    </li>
                
                
            </ul>
        </div>
    </div>
</div>

        <div class="container">
            
                <div class="col-md-3"><div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
    
        <li class="main active"><a href="#sitemap">Sitemap</a></li>
        
            <li><a href="#what-offers">What offers</a></li>
        
    
    </ul>
</div></div>
                <div class="col-md-9" role="main">

<h1 id="sitemap">Sitemap</h1>
<p>Use and configure the Sitemap component in your Symfony project.</p>
<ul>
<li><a href="https://github.com/elcodi/Sitemap">Component Repository</a></li>
<li><a href="https://github.com/elcodi/SitemapBundle">Bundle Repository</a></li>
</ul>
<p>The bundle is built in different layers, going from the real seed of any kind
of sitemap implementation (each element), to the final profiling.</p>
<h2 id="what-offers">What offers</h2>
<p>This package should work as a black box, so some configuration and some classes
to implement the way some entities are searched or are transformed should be
enough.</p>
<p>The package provides you as well a simple set of generated services and commands
to make easier the generation of the documents. Read this documentation for more
information about how you can generate simple and complex Sitemap documents.</p>
<blockquote>
<p>Can be useful as well for creating integration files with external 
marketplaces, for example, Google Products.</p>
</blockquote>
<h3 id="blocks">Blocks</h3>
<p>On a sitemap, a block is the element that we would like to index. If a product
has a page then we would like our sitemap to contain an entry url per product 
page. The items to index in a sitemap can be pages of products, categories, and 
any other entity on the project.</p>
<p>When we talk about a block, we are really talking about a specific set of urls
related to entities provided by a specific repository, for example all enabled 
products.</p>
<pre><code class="yaml"># Each block defines a way of creating dynamically a set of elements of a
# sitemap file, each one mapped from a database entry
blocks:
    enabled_products:
        # Transformer
        transformer: ~
        # Repository service used for retrieving the array of entities
        repository_service: elcodi.repository.product
        # Repository method
        method: findBy
        # Array of arguments for the repository call
        arguments:
            enabled: true
        # Specific change frequency for this block
        changeFrequency: ~
        # Specific priority for this block
        priority: ~
</code></pre>

<p>Each block needs a transformer, intended to transform an entity instance to 
every single information needed by the sitemap generator. Every transformer must
be an implementation of SitemapTransformerInterface and must be defined as a
service in our Dependency Injection Container.</p>
<pre><code class="php">/**
 * Interface SitemapTransformerInterface
 */
interface SitemapTransformerInterface
{
    /**
     * Get url given an entity
     *
     * @param Mixed  $element  Element
     * @param string $language Language
     *
     * @return string url
     */
    public function getLoc($element, $language = null);

    /**
     * Get last mod
     *
     * @param Mixed  $element  Element
     * @param string $language Language
     *
     * @return string Last mod value
     */
    public function getLastMod($element, $language = null);
}
</code></pre>

<p>Then we need to pass the name of the service to the block configuration.</p>
<pre><code class="yaml"># Each block defines a way of dynamically creating a set of elements of a
# sitemap file, each one mapped from a database entry
blocks:
    enabled_products:
        # Transformer
        transformer: elcodi.sitemap_transformer.product
</code></pre>

<blockquote>
<p>This element is a mandatory and must be defined for each Block</p>
</blockquote>
<p>That said, we need to also define how this product collection must be
retrieved from our database. For this reason you must specify the
repository service, the method used and the arguments for such method.</p>
<pre><code class="yaml"># Each block defines a way of dynamically creating a set of elements of a
# sitemap file, each one mapped from a database entry
blocks:
    enabled_products:
        repository_service: elcodi.repository.product
        # Repository method
        method: findBy
        # Array of arguments for the repository call
        arguments:
            enabled: true
            disabled: false
</code></pre>

<p>These elements are required and have no default values, to make sure
that every block definition is carefully defined and configured. </p>
<p>Finally, we can define the <code>changeFrequency</code> and the <code>priority</code> elements. Both
values will be used for all block instances. They are not required.</p>
<pre><code class="yaml"># Each block defines a way of dynamically creating a set of elements of a
# sitemap file, each one mapped from a database entry
blocks:
    enabled_products:
        # Specific change frequency for this block
        changeFrequency: ~
        # Specific priority for this block
        priority: ~
</code></pre>

<h3 id="statics">Statics</h3>
<p>An Static is a representation of a route, defined by its name and some 
non-required values.</p>
<pre><code class="yaml">elcodi_sitemap:

    # Each static is a route entry
    statics:
        store_homepage:
            # Specific change frequency for this static
            changeFrequency: ~
            # Specific priority for this static
            priority: ~
</code></pre>

<h3 id="builders">Builders</h3>
<p>A sitemap instance is built using a sorted set of Statics and Blocks and
rendered by a specific renderer. The result of this built is dumped using a
specific dumper in a pre-defined path.</p>
<pre><code class="yaml">elcodi_sitemap:

    # A builder is a set of blocks and statics, grouped and saved to a file
    builder:
        main:
            # Set of block references
            blocks:
                - enabled_products
            # Set of static references
            statics:
                - store_homepage
            # Each builder can use a different renderer, by referencing the
            # service definition
            renderer: ~
            # Each builder can use a different dumper, by referencing the
            # service definition
            dumper: ~
            # You can define the name of the file, taking into account the locale
            # used by using {_locale} format
            path: %kernel.root_dir%/../web/sitemap/sitemap_{_locale}.xml
</code></pre>

<p>First of all we need to define what blocks and statics we are going to use for
such sitemap. It is important to know that the order matters.</p>
<p>For example, in our case, we will create a new sitemap called <code>main</code> that will
contain a block and a static.</p>
<pre><code class="yaml">elcodi_sitemap:

    # A builder is a set of blocks and statics, grouped and saved to a file
    builder:
        main:
            # Set of block references
            blocks:
                - enabled_products
            # Set of static references
            statics:
                - store_homepage
</code></pre>

<blockquote>
<p>This component will first render the statics and then the blocks.</p>
</blockquote>
<p>Then, a renderer will transform this set of entries into a special format. By 
default this component gives you one renderer implementation, the <code>XmlRenderer</code>.
This implementation is the one used by default.</p>
<pre><code class="yaml">elcodi_sitemap:

    # A builder is a set of blocks and statics, grouped and saved to a file
    builder:
        main:
            # Each builder can use a different renderer, by referencing the
            # service definition
            renderer: ~
</code></pre>

<p>If you want to use your own renderer, you can create a new service implementing 
<code>SitemapRendererInterface</code>.</p>
<pre><code class="php">/**
 * Interface SitemapRendererInterface
 */
interface SitemapRendererInterface
{
    /**
     * Given an array of sitemapElements, renders the Sitemap
     *
     * @param SitemapElement[] $sitemapElements Elements
     * @param string           $basepath        Base path
     *
     * @return string Render
     */
    public function render(array $sitemapElements, $basepath);
}
</code></pre>

<p>Finally, a dumper will dump your rendered data. By default this component gives
you one dumper implementation, the <code>FilesystemDumper</code>. This implementation is 
the one used by default.</p>
<pre><code class="yaml">elcodi_sitemap:

    # A builder is a set of blocks and statics, grouped and saved to a file
    builder:
        main:
            dumper: ~
            # You can define the name of the file, taking in account the locale
            # used by using {_locale} format
            path: %kernel.root_dir%/../web/sitemap/sitemap_{_locale}.xml
</code></pre>

<p>If you want to use your own dumper, you can create a new dumper implementing
<code>SitemapDumperInterface</code>.</p>
<pre><code class="php">/**
 * Interface SitemapDumperInterface
 */
interface SitemapDumperInterface
{
    /**
     * Dumps a sitemap given a path
     *
     * @param string $path    Path
     * @param string $sitemap Sitemap
     *
     * @return $this Self object
     */
    public function dump($path, $sitemap);
}
</code></pre>

<p>This dumper uses a path. This path is required by any defined builder and can
contain a placeholder for the sitemap language, using <code>{_locale}</code>.</p>
<h3 id="services">Services</h3>
<p>Elcodi generates a Dependency Injection service for each builder using our
standard. In our example, with given configuration we will have available a new
public service.</p>
<pre><code class="yaml">elcodi.sitemap_builder.main
</code></pre>

<p>Calling this service, the DI will create a SitemapBuilder instance, ready
to be used.</p>
<pre><code class="php">/**
 * Class SitemapBuilder
 */
class SitemapBuilder
{
    /**
     * Build sitemap builder
     *
     * @param string      $basepath Base path
     * @param string|null $language Language
     *
     * @return string Generated data
     */
    public function build($basepath, $language = null);
}
</code></pre>

<p>Elcodi also generates a service for each dumper, using the same notation as
builders.</p>
<pre><code class="yaml">elcodi.sitemap_dumper.main
</code></pre>

<p>Calling this service, the DI will create a SitemapDumper instance, ready
to be used.</p>
<p>/<strong>
 * Class SitemapDumper
 */
class SitemapDumper
{
    /</strong>
     * Dump builder using a dumper
     <em>
     * @param string      $basepath Base path
     * @param string|null $language Language
     </em>/
    public function dump($basepath, $language = null);
}</p>
<p>As you can see, both services require the basepath of the site. It means that
you can call, for example, the <code>build</code> method using firstly the basepath 
<code>http://localhost:8000</code> and then <code>https://myurl.com</code>. Because this information
does not belong to the instance but the call, it is mandatory to set this
information when the sitemap is generated.</p>
<p>You must define the language as well, but this second parameter is not required.
This value is passed to the transformer, and your transformer implementation 
will decide what to do with this language.</p>
<h3 id="dumper-command">Dumper Command</h3>
<p>This command is intended for a single sitemap generation. You must provide the
name of the builder as each builder has an associated dumper and a specific 
basepath used for this built and an optional language.</p>
<pre><code class="bash">php app/console elcodi:sitemap:dump main http://localhost:8000
php app/console elcodi:sitemap:dump main https://myurl.com
php app/console elcodi:sitemap:dump main http://localhost:8000 --language=es
</code></pre>

<h3 id="profiles">Profiles</h3>
<p>Using the dumper is so nice and easy if you just manage static languages, but
how about if our site needs to generate several builders using, for example, all 
the enabled languages of our site?</p>
<p>In order to solve this common problem, this bundle provides as well what we call
a sitemap profile.</p>
<pre><code class="yaml">elcodi_sitemap:

    # A profile is a set of builders, grouped and combined with all available
    # languages. Special for bulk actions
    profile:
        main:
            # Service reference, result which is an array of languages
            languages: elcodi.languages_iso_array
            # Set of builder references
            builders:
                - main
</code></pre>

<p>There are two elements to be defined here, both required.</p>
<p>First, we need to decide what builders we want to include in this profile.
This is just a set of builders, an array. That easy.</p>
<p>Second, we must define a service in our project, intended to return all enabled
languages in our site. This service must return an array of locales.</p>
<p>In elcodi we have a service called <code>elcodi.languages_iso</code>.</p>
<pre><code class="yaml">elcodi.languages_iso_array:
    class: stdClass
    factory: [@elcodi.languages_iso, toArray]
</code></pre>

<blockquote>
<p>Yes, in Symfony a service can use the factory pattern to return a simple 
array using the stdClass keyword.</p>
</blockquote>
<p>Elcodi generates a service for each profile, using our standard. In our example, 
with the given configuration we will have available a new public service.</p>
<pre><code class="yaml">elcodi.sitemap_profile.main
</code></pre>

<p>Calling this service, the DI will create a SitemapProfile instance, ready
to be used.</p>
<pre><code class="php">/**
 * Class SitemapProfile
 */
class SitemapProfile
{
    /**
     * Build full profile
     *
     * @param string $basepath Basepath
     *
     * @return $this Self object
     */
    public function dump($basepath);
}
</code></pre>

<h3 id="profile-command">Profile Command</h3>
<p>This command is intended for profile generation. You must provide the
name of the profile and a specific basepath used for this build.</p>
<pre><code class="bash">php app/console elcodi:sitemap:profile main http://localhost:8000
php app/console elcodi:sitemap:profile main https://myurl.com
</code></pre></div>
            
        </div>

        <footer class="col-md-12">
            <hr>
            
            <p>Documentation built with <a href="http://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>

        <script src="../../js/jquery-1.10.2.min.js"></script>
        <script src="../../js/bootstrap-3.0.3.min.js"></script>
        <script src="../../js/highlight.pack.js"></script>
        <script>var base_url = '../..';</script>
        <script data-main="../../mkdocs/js/search.js" src="../../mkdocs/js/require.js"></script>
        <script src="../../js/base.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="Search Modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Search</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            From here you can search these documents. Enter
                            your search terms below.
                        </p>
                        <form role="form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search..." id="mkdocs-search-query">
                            </div>
                        </form>
                        <div id="mkdocs-search-results"></div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
