<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elcodi Documentation</title>

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Roboto+Slab:400,700|Inconsolata:400,700&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://elcodi.github.io/docs/css/theme.css" type="text/css"/>
    <link rel="stylesheet" href="https://elcodi.github.io/docs/css/theme-fixes.css" type="text/css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">
</head>
<body class="wy-body-for-nav">

    <div class="wy-grid-for-nav">

        <nav data-toggle="wy-nav-shift" class="wy-nav-side">
            <div class="wy-side-nav-search">
                <a href="https://elcodi.github.io/docs/" class="fa fa-home"> Elcodi Documentation</a>
            </div>

            <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
                <ul>
                                            <li class="toctree-l1 ">
                            <a class="reference internal "
                               href="https://elcodi.github.io/docs/quick-start.html">
                                Quick Start
                            </a>
                        </li>
                                            <li class="toctree-l1 ">
                            <a class="reference internal "
                               href="book/index.html">
                                The book
                            </a>
                        </li>
                                            <li class="toctree-l1 ">
                            <a class="reference internal "
                               href="cookbook/index.html">
                                The Cookbook
                            </a>
                        </li>
                                            <li class="toctree-l1 ">
                            <a class="reference internal "
                               href="components/index.html">
                                The Components
                            </a>
                        </li>
                                            <li class="toctree-l1 ">
                            <a class="reference internal "
                               href="reference/index.html">
                                Reference
                            </a>
                        </li>
                                    </ul>
            </div>
            &nbsp;
        </nav>

        <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

                        <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
                <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
                <a href="https://elcodi.github.io/docs/">Elcodi Documentation</a>
            </nav>


                        <div class="wy-nav-content">
                <div class="rst-content">
                    <div role="main" class="document">
                        <h1>The Elcodi components</h1>
<h3>Attribute</h3>
<ul>
<li><a href="attribute/component.html">The Attribute Component</a></li>
<li><a href="attribute/bundle.html">The Attribute Bundle</a></li>
</ul>
<h3>Banner</h3>
<ul>
<li><a href="banner/component.html">The Banner Component</a></li>
<li><a href="banner/bundle.html">The Banner Bundle</a></li>
</ul>
<h3>Cart</h3>
<ul>
<li><a href="cart/component.html">The Cart Component</a></li>
<li><a href="cart/bundle.html">The Cart Bundle</a></li>
</ul>
<h3>CartCoupon</h3>
<ul>
<li><a href="cart-coupon/component.html">The CartCoupon Component</a></li>
<li><a href="cart-coupon/bundle.html">The CartCoupon Bundle</a></li>
</ul>
<h3>Comment</h3>
<ul>
<li><a href="comment/component.html">The Comment Component</a></li>
<li><a href="comment/bundle.html">The Comment Bundle</a></li>
</ul>
<h3>Configuration</h3>
<ul>
<li><a href="configuration/component.html">The Configuration Component</a></li>
<li><a href="configuration/bundle.html">The Configuration Bundle</a></li>
</ul>
<h3>Core</h3>
<ul>
<li><a href="core/component.html">The Core Component</a></li>
<li><a href="core/bundle.html">The Core Bundle</a></li>
</ul>
<h3>Coupon</h3>
<ul>
<li><a href="coupon/component.html">The Coupon Component</a></li>
<li><a href="coupon/bundle.html">The Coupon Bundle</a></li>
</ul>
<h3>Currency</h3>
<ul>
<li><a href="currency/component.html">The Currency Component</a></li>
<li><a href="currency/bundle.html">The Currency Bundle</a></li>
</ul>
<h3>Entity Translator</h3>
<ul>
<li><a href="entity-translator/component.html">The Entity Translator Component</a></li>
<li><a href="entity-translator/bundle.html">The Entity Translator Bundle</a></li>
</ul>
<h3>Geo</h3>
<ul>
<li><a href="geo/component.html">The Geo Component</a></li>
<li><a href="geo/bundle.html">The Geo Bundle</a></li>
</ul>
<h3>Language</h3>
<ul>
<li><a href="language/component.html">The Language Component</a></li>
<li><a href="language/bundle.html">The Language Bundle</a></li>
</ul>
<h3>Media</h3>
<ul>
<li><a href="media/component.html">The Media Component</a></li>
<li><a href="media/bundle.html">The Media Bundle</a></li>
</ul>
<h3>Menu</h3>
<ul>
<li><a href="menu/component.html">The Menu Component</a></li>
<li><a href="menu/bundle.html">The Menu Bundle</a></li>
</ul>
<h3>Metadata</h3>
<ul>
<li><a href="metadata/component.html">The Metadata Component</a></li>
<li><a href="metadata/bundle.html">The Metadata Bundle</a></li>
</ul>
<h3>Metric</h3>
<ul>
<li><a href="metric/component.html">The Metric Component</a></li>
<li><a href="metric/bundle.html">The Metric Bundle</a></li>
</ul>
<h3>Newsletter</h3>
<ul>
<li><a href="newsletter/component.html">The Newsletter Component</a></li>
<li><a href="newsletter/bundle.html">The Newsletter Bundle</a></li>
</ul>
<h3>Page</h3>
<ul>
<li><a href="page/component.html">The Page Component</a></li>
<li><a href="page/bundle.html">The Page Bundle</a></li>
</ul>
<h3>Plugin</h3>
<ul>
<li><a href="plugin/component.html">The Plugin Component</a></li>
<li><a href="plugin/bundle.html">The Plugin Bundle</a></li>
</ul>
<h3>Product</h3>
<ul>
<li><a href="product/component.html">The Product Component</a></li>
<li><a href="product/bundle.html">The Product Bundle</a></li>
</ul>
<h3>Rule</h3>
<ul>
<li><a href="rule/component.html">The Rule Component</a></li>
<li><a href="rule/bundle.html">The Rule Bundle</a></li>
</ul>
<h3>Shipping</h3>
<ul>
<li><a href="shipping/component.html">The Shipping Component</a></li>
<li><a href="shipping/bundle.html">The Shipping Bundle</a></li>
</ul>
<h3>Sitemap</h3>
<ul>
<li><a href="sitemap/component.html">The Sitemap Component</a></li>
<li><a href="sitemap/bundle.html">The Sitemap Bundle</a></li>
</ul>
<h3>State Transition Machine</h3>
<ul>
<li><a href="state-transition-machine/component.html">The State Transition Machine Component</a></li>
<li><a href="state-transition-machine/bundle.html">The State Transition Machine Bundle</a></li>
</ul>
<h3>Tax</h3>
<ul>
<li><a href="tax/component.html">The Tax Component</a></li>
<li><a href="tax/bundle.html">The Tax Bundle</a></li>
</ul>
<h3>Template</h3>
<ul>
<li><a href="template/component.html">The Template Component</a></li>
<li><a href="template/bundle.html">The Template Bundle</a></li>
</ul>
<h3>User</h3>
<ul>
<li><a href="user/component.html">The User Component</a></li>
<li><a href="user/bundle.html">The User Bundle</a></li>
</ul>
<h3>Zone</h3>
<ul>
<li><a href="zone/component.html">The Zone Component</a></li>
<li><a href="zone/bundle.html">The Zone Bundle</a></li>
</ul>
                    </div>

                    <footer>
                        <hr/>
                                                    <div role="contentinfo">
                                <p>
                                    Find Elcodi Documentation on <a href="https://github.com/elcodi/docs">GitHub</a>.
                                </p>
                            </div>
                                                Built with <a href="http://couscous.io/">Couscous</a> using a <a href="https://github.com/CouscousPHP/Template-ReadTheDocs">theme</a> based on <a href="https://readthedocs.org/">Read the Docs</a>.
                    </footer>

                </div>
            </div>

        </section>

    </div>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script src="https://elcodi.github.io/docs/js/theme.js"></script>

    <script>
        $(function() {
            // Syntax highlighting
            hljs.initHighlightingOnLoad();
        });
    </script>

</body>
</html>
