<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elcodi Documentation</title>

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Roboto+Slab:400,700|Inconsolata:400,700&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="http://elcodi.io/docs/css/theme.css" type="text/css"/>
    <link rel="stylesheet" href="http://elcodi.io/docs/css/theme-fixes.css" type="text/css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">
</head>
<body class="wy-body-for-nav">

    <div class="wy-grid-for-nav">

        <nav data-toggle="wy-nav-shift" class="wy-nav-side">
            <div class="wy-side-nav-search">
                <a href="http://elcodi.io/docs/" class="fa fa-home"> Elcodi Documentation</a>
            </div>

            <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
                <ul>
                                            <li class="toctree-l1 ">
                            <a class="reference internal "
                               href="http://elcodi.io/docs/quick-start.html">
                                Quick Start
                            </a>
                        </li>
                                            <li class="toctree-l1 ">
                            <a class="reference internal "
                               href="http://elcodi.io/docs/book/index.html">
                                The book
                            </a>
                        </li>
                                            <li class="toctree-l1 ">
                            <a class="reference internal "
                               href="http://elcodi.io/docs/cookbook/index.html">
                                The Cookbook
                            </a>
                        </li>
                                            <li class="toctree-l1 ">
                            <a class="reference internal "
                               href="http://elcodi.io/docs/components/index.html">
                                The Components
                            </a>
                        </li>
                                            <li class="toctree-l1 ">
                            <a class="reference internal "
                               href="http://elcodi.io/docs/reference/index.html">
                                Reference
                            </a>
                        </li>
                                    </ul>
            </div>
            &nbsp;
        </nav>

        <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

                        <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
                <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
                <a href="http://elcodi.io/docs/">Elcodi Documentation</a>
            </nav>


                        <div class="wy-nav-content">
                <div class="rst-content">
                    <div role="main" class="document">
                        <h1>Attribute</h1>
<p>This bundle aims to provide a simple attributes system to add particularities
to any item.</p>
<p>You can see this bundle working on <a href="https://github.com/elcodi/bamboo">Bamboo</a> to manage the product attributes
like color or sizes.</p>
                    </div>

                    <footer>
                        <hr/>
                                                    <div role="contentinfo">
                                <p>
                                    Find Elcodi Documentation on <a href="https://github.com/elcodi/docs">GitHub</a>.
                                </p>
                            </div>
                                                Built with <a href="http://couscous.io/">Couscous</a> using a <a href="https://github.com/CouscousPHP/Template-ReadTheDocs">theme</a> based on <a href="https://readthedocs.org/">Read the Docs</a>.
                    </footer>

                </div>
            </div>

        </section>

    </div>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script src="http://elcodi.io/docs/js/theme.js"></script>

    <script>
        $(function() {
            // Syntax highlighting
            hljs.initHighlightingOnLoad();
        });
    </script>

</body>
</html>
