<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="../../img/favicon.ico">

	<title>Attribute - Elcodi Documentation</title>

        <link href="../../css/bootstrap-custom.min.css" rel="stylesheet">
        <link href="../../css/font-awesome-4.0.3.css" rel="stylesheet">
        <link href="../../css/base.css" rel="stylesheet">
        <link rel="stylesheet" href="../../css/highlight.css">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        
    </head>

    <body>

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            

            <!-- Main title -->
            <a class="navbar-brand" href="../..">Elcodi Documentation</a>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            
                <!-- Main navigation -->
                <ul class="nav navbar-nav">
                
                
                    <li >
                        <a href="../..">Home</a>
                    </li>
                
                
                
                    <li >
                        <a href="../../quick-start/">Quick start</a>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reference <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            <li >
                                <a href="../../reference/attribute/">Attribute</a>
                            </li>
                        
                            <li >
                                <a href="../../reference/banner/">Banner</a>
                            </li>
                        
                            <li >
                                <a href="../../reference/cart-coupon/">Cart coupon</a>
                            </li>
                        
                            <li >
                                <a href="../../reference/cart/">Cart</a>
                            </li>
                        
                            <li >
                                <a href="../../reference/comment/">Comment</a>
                            </li>
                        
                            <li >
                                <a href="../../reference/configuration/">Configuration</a>
                            </li>
                        
                            <li >
                                <a href="../../reference/coupon/">Coupon</a>
                            </li>
                        
                            <li >
                                <a href="../../reference/">Home</a>
                            </li>
                        
                            <li >
                                <a href="../../reference/sitemap/">Sitemap</a>
                            </li>
                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Components <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            <li class="active">
                                <a href="./">Attribute</a>
                            </li>
                        
                            <li >
                                <a href="../entityTranslator/">entityTranslator</a>
                            </li>
                        
                            <li >
                                <a href="../">Home</a>
                            </li>
                        
                            <li >
                                <a href="../menu/">Menu</a>
                            </li>
                        
                            <li >
                                <a href="../stateTransitionMachine/">stateTransitionMachine</a>
                            </li>
                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bundles <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            <li >
                                <a href="../../bundles/attribute/">Attribute</a>
                            </li>
                        
                            <li >
                                <a href="../../bundles/entityTranslator/">entityTranslator</a>
                            </li>
                        
                            <li >
                                <a href="../../bundles/">Home</a>
                            </li>
                        
                            <li >
                                <a href="../../bundles/menu/">Menu</a>
                            </li>
                        
                            <li >
                                <a href="../../bundles/sitemap/">Sitemap</a>
                            </li>
                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Book <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            <li >
                                <a href="../../book/">Home</a>
                            </li>
                        
                            <li >
                                <a href="../../book/standards/classes/">Classes</a>
                            </li>
                        
                            <li >
                                <a href="../../book/standards/code/">Code</a>
                            </li>
                        
                            <li >
                                <a href="../../book/standards/dependency-injection/">Dependency injection</a>
                            </li>
                        
                            <li >
                                <a href="../../book/standards/packages-structure/">Packages structure</a>
                            </li>
                        
                            <li >
                                <a href="../../book/workflows/cart/">Cart</a>
                            </li>
                        
                            <li >
                                <a href="../../book/bundles/extensions/">Extensions</a>
                            </li>
                        
                            <li >
                                <a href="../../book/philosophy/elcodi/">Elcodi</a>
                            </li>
                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cookbook <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            <li >
                                <a href="../../cookbook/">Home</a>
                            </li>
                        
                            <li >
                                <a href="../../cookbook/caveats/test-suite/">Test suite</a>
                            </li>
                        
                            <li >
                                <a href="../../cookbook/installation/dependent-bundles/">Dependent bundles</a>
                            </li>
                        
                            <li >
                                <a href="../../cookbook/overwrite/entity/">Entity</a>
                            </li>
                        
                            <li >
                                <a href="../../cookbook/overwrite/parameter/">Parameter</a>
                            </li>
                        
                            <li >
                                <a href="../../cookbook/overwrite/service/">Service</a>
                            </li>
                        
                            <li >
                                <a href="../../cookbook/implementation/controller-command/">Controller command</a>
                            </li>
                        
                            <li >
                                <a href="../../cookbook/implementation/entity/">Entity</a>
                            </li>
                        
                            <li >
                                <a href="../../cookbook/implementation/factory/">Factory</a>
                            </li>
                        
                            <li >
                                <a href="../../cookbook/implementation/form-type/">Form type</a>
                            </li>
                        
                            <li >
                                <a href="../../cookbook/implementation/repository/">Repository</a>
                            </li>
                        
                        </ul>
                    </li>
                
                
                </ul>
            

            
            <!-- Search, Navigation and Repo links -->
            <ul class="nav navbar-nav navbar-right">
                
                
                <li >
                    <a rel="next" href="../../reference/sitemap/">
                        <i class="fa fa-arrow-left"></i> Previous
                    </a>
                </li>
                <li >
                    <a rel="prev" href="../entityTranslator/">
                        Next <i class="fa fa-arrow-right"></i>
                    </a>
                </li>
                
                
            </ul>
            
        </div>
    </div>
</div>

        <div class="container">
            
                <div class="col-md-3"><div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
    
        <li class="main active"><a href="#attribute">Attribute</a></li>
        
            <li><a href="#usage">Usage</a></li>
        
    
    </ul>
</div></div>
                <div class="col-md-9" role="main">

<h1 id="attribute">Attribute</h1>
<h2 id="usage">Usage</h2>
<p>In defining your products you would often create items that distinguish themselves
by a specific characteristic. If it is clothes you know there can be sizes, colors,
types of packaging, etc. You can have for instance used state for books. So you
would have books that are used, new, as new, or refurbished, etc. In reality you
would first come with the store and later your requirements will change or adapt.
If a product needs any of such characteristic to be highlighted at the moment of
purchase then we know that we are before a usage for the attribute component.
Because they can change rapidly, these attributes are not good to model in code
but they must be modeled via database entries as we see here.</p>
<p>Let's take the example of clothing sizes and define a size attribute with
three values as follows:</p>
<pre><code class="php">$attribute = $attributeDirector
    -&gt;create()
    -&gt;setName('Woman Clothing Sizes')
    -&gt;setEnabled(true);

$attributeDirector-&gt;save($attribute);

foreach (['Small', 'Medium', 'Large'] as $size) {
    $value = $attributeValueDirector
        -&gt;create()
        -&gt;setValue($size)
        -&gt;setAttribute($sizeAttribute);

    $attributeValueDirector-&gt;save($value);
}
</code></pre>

<p>From the structured data that we have created we can then handle these
clothing sizes to enrich the handling of products.</p>
<pre><code class="php">$sizes = $attributeRepository-&gt;findBy(['name' =&gt; 'Woman Clothing Sizes']);

// validate or select a size from the set ...
</code></pre>

<p>The component is tightly integrated with the bundle of the same name. The classes
that the bundle uses, the services used in the example above, are in the component
whereas the service definitions are declared in the bundle.</p>
<p>Apart from this, the component is mainly built from the Attribute and the Value objects.
They relate together bidirectionally on its default mapping, though this can be overridden.
An Attribute bears a name and can find its value representations and Values are always
mapping back to the Attribute for which they determine a representation.
An Attribute has temporal features meaning that the entity tracks time for when
it was created and when it is updated and also can be enabled or disabled.
The same is not true for any Value for that Attribute.</p>
<p>Example you can find out when the attribute Color was created or modified
but you cannot know when blue value was added or updated. Therefore, you
can find out when we got sizes for a product but not when we got sizes of
small or extra large for the products in the store.</p>
<p>Of course these limitations if needed can be overcame by simple overriding
the mapping.</p></div>
            
        </div>

        <footer class="col-md-12">
            <hr>
            
            <p>Documentation built with <a href="http://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>

        

        <script src="../../js/jquery-1.10.2.min.js"></script>
        <script src="../../js/bootstrap-3.0.3.min.js"></script>
        <script src="../../js/highlight.pack.js"></script>
        <script src="../../js/base.js"></script>

        <!--
        MkDocs version  : 0.12.1
        Docs Build Date : 2015-05-14 10:40:01.836629
        -->
    </body>
</html>