<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        <link rel="canonical" href="http://www.elcodi.io/book/payments/">
        <link rel="shortcut icon" href="../../img/favicon.ico">

        <title>Payments - Elcodi Documentation</title>

        <link href="../../css/bootstrap-custom.min.css" rel="stylesheet">
        <link href="../../css/font-awesome-4.0.3.css" rel="stylesheet">
        <link href="../../css/base.css" rel="stylesheet">
        <link rel="stylesheet" href="../../css/highlight.css">

        <link href="../../css/elcodi.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        
    </head>

    <body>

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            

            <!-- Main title -->
            <a class="navbar-brand" href="../.."><img src="../../img/elcodi.png" height="30" /></a>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            
                <!-- Main navigation -->
                <ul class="nav navbar-nav">
                
                
                
                
                
                    
                        <li >
                            <a href="../../quick-start/">Quick start</a>
                        </li>
                    
                
                
                
                    
                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Book <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                            
                                
<li >
    <a href="../cart-architecture/">Cart architecture</a>
</li>

                            
                                
<li >
    <a href="../coupon-architecture/">Coupon architecture</a>
</li>

                            
                                
<li >
    <a href="../dictionary/">Dictionary</a>
</li>

                            
                                
<li >
    <a href="../emails/">Emails</a>
</li>

                            
                                
<li >
    <a href="../events/">Events</a>
</li>

                            
                                
<li >
    <a href="../">Home</a>
</li>

                            
                                
<li class="active">
    <a href="./">Payments</a>
</li>

                            
                                
<li >
    <a href="../philosophy/">Philosophy</a>
</li>

                            
                                
<li >
    <a href="../plugins/">Plugins</a>
</li>

                            
                                
<li >
    <a href="../processes/">Processes</a>
</li>

                            
                                
<li >
    <a href="../product-architecture/">Product architecture</a>
</li>

                            
                                
<li >
    <a href="../pull-requests/">Pull requests</a>
</li>

                            
                                
<li >
    <a href="../running-test-suite/">Running test suite</a>
</li>

                            
                                
<li >
    <a href="../shipping/">Shipping</a>
</li>

                            
                                
<li >
    <a href="../standards/">Standards</a>
</li>

                            
                                
<li >
    <a href="../what-is-elcodi/">What is elcodi</a>
</li>

                            
                                
<li >
    <a href="../why-elcodi/">Why elcodi</a>
</li>

                            
                            </ul>
                        </li>
                    
                
                
                
                    
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cookbook <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                            
                                
<li >
    <a href="../../cookbook/">Home</a>
</li>

                            
                                
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Installation</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../cookbook/installation/install-a-plugin/">Install a plugin</a>
</li>

        
            
<li >
    <a href="../../cookbook/installation/install-dependent-bundles/">Install dependent bundles</a>
</li>

        
    </ul>
  </li>

                            
                                
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Overwrite</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../cookbook/overwrite/overwrite-a-parameter/">Overwrite a parameter</a>
</li>

        
            
<li >
    <a href="../../cookbook/overwrite/overwrite-a-service/">Overwrite a service</a>
</li>

        
            
<li >
    <a href="../../cookbook/overwrite/overwrite-an-entity/">Overwrite an entity</a>
</li>

        
    </ul>
  </li>

                            
                                
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Deprecation</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../cookbook/deprecation/deprecate-a-method/">Deprecate a method</a>
</li>

        
    </ul>
  </li>

                            
                                
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Adapters</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../cookbook/adapters/currency-rates-populator/">Currency rates populator</a>
</li>

        
            
<li >
    <a href="../../cookbook/adapters/image-resize/">Image resize</a>
</li>

        
            
<li >
    <a href="../../cookbook/adapters/location-provider/">Location provider</a>
</li>

        
    </ul>
  </li>

                            
                                
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Workflow</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../cookbook/workflow/create-automatic-coupon/">Create automatic coupon</a>
</li>

        
    </ul>
  </li>

                            
                                
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Implementation</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../cookbook/implementation/implement-a-collector/">Implement a collector</a>
</li>

        
            
<li >
    <a href="../../cookbook/implementation/implement-a-controller-and-a-command/">Implement a controller and a command</a>
</li>

        
            
<li >
    <a href="../../cookbook/implementation/implement-a-factory/">Implement a factory</a>
</li>

        
            
<li >
    <a href="../../cookbook/implementation/implement-a-form-type/">Implement a form type</a>
</li>

        
            
<li >
    <a href="../../cookbook/implementation/implement-a-repository/">Implement a repository</a>
</li>

        
            
<li >
    <a href="../../cookbook/implementation/implement-an-entity/">Implement an entity</a>
</li>

        
            
<li >
    <a href="../../cookbook/implementation/implement-an-event-listener/">Implement an event listener</a>
</li>

        
    </ul>
  </li>

                            
                            </ul>
                        </li>
                    
                
                
                
                    
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Component <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                            
                                
<li >
    <a href="../../component/entity-translator/">Entity translator</a>
</li>

                            
                                
<li >
    <a href="../../component/">Home</a>
</li>

                            
                                
<li >
    <a href="../../component/media/">Media</a>
</li>

                            
                                
<li >
    <a href="../../component/menu/">Menu</a>
</li>

                            
                                
<li >
    <a href="../../component/sitemap/">Sitemap</a>
</li>

                            
                                
<li >
    <a href="../../component/state-transition-machine/">State transition machine</a>
</li>

                            
                                
<li >
    <a href="../../component/template/">Template</a>
</li>

                            
                            </ul>
                        </li>
                    
                
                
                </ul>
            

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="modal" data-target="#mkdocs_search_modal">
                        <i class="fa fa-search"></i> Search
                    </a>
                </li>
                
                    <li >
                        <a rel="next" href="../">
                            <i class="fa fa-arrow-left"></i> Previous
                        </a>
                    </li>
                    <li >
                        <a rel="prev" href="../philosophy/">
                            Next <i class="fa fa-arrow-right"></i>
                        </a>
                    </li>
                
                
                    <li>
                        <a href="https://github.com/elcodi/docs">
                            
                                <i class="fa fa-github"></i>
                            
                            GitHub
                        </a>
                    </li>
                
            </ul>
        </div>
    </div>
</div>

        <div class="container">
            
                <div class="col-md-3"><div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
    
        <li class="main active"><a href="#payments">Payments</a></li>
        
            <li><a href="#requisites">Requisites</a></li>
        
            <li><a href="#example">Example</a></li>
        
            <li><a href="#calling-for-shipping-methods">Calling for Shipping methods</a></li>
        
            <li><a href="#adding-new-payment-method">Adding new Payment Method</a></li>
        
            <li><a href="#payment-scripts">Payment scripts</a></li>
        
            <li><a href="#accessing-collected-methods">Accessing collected methods</a></li>
        
            <li><a href="#payment">Payment</a></li>
        
            <li><a href="#payment-state-machine">Payment State Machine</a></li>
        
            <li><a href="#updating-the-payment-state">Updating the Payment state</a></li>
        
    
    </ul>
</div></div>
                <div class="col-md-9" role="main">

<h1 id="payments">Payments<a class="headerlink" href="#payments" title="Permanent link"> #</a></h1>
<p>Todo E-commerce, claro, debe tener una plataforma de pago para que los clientes
puedan terminar satisfactoriamente su proceso de compra.</p>
<p>Normalmente, para dicha implementación se tienen en cuenta librerías externas de
PHP, por lo que en este caso vamos a trabajar con un simple sistema de pago, en
este caso gratuito, dado que solo lo vamos a utilizar para ver como Elcodi
propone sus servicios y eventos para recolectar y utilizar los sistemas de pago
disponibles en todo momento.</p>
<h2 id="requisites">Requisites<a class="headerlink" href="#requisites" title="Permanent link"> #</a></h2>
<p>This chapter is a little bit complex, so let's focus on some interesting topics
related with Payments and this implementation. Some extra information will be
enough to have a base before starting this read.</p>
<ul>
<li><a href="../plugins/">Plugins</a></li>
<li><a href="http://symfony.com/doc/current/components/dependency_injection/introduction.html">Dependency Injection Symfony Component</a></li>
<li><a href="http://symfony.com/doc/current/components/event_dispatcher/introduction.html">Event Dispatcher Symfony Component</a></li>
<li><a href="http://github.com/paymentsuite">PaymentSuite Payment PHP Library</a></li>
<li><a href="http://github.com/Payum">Payum Payment PHP</a></li>
</ul>
<h2 id="example">Example<a class="headerlink" href="#example" title="Permanent link"> #</a></h2>
<p>Imaginemos que queremos añadir un sistema de pago gratuito. Dicho sistema de 
pago tiene como nombre de referencia <code>free_payment</code>, que aunque no sea realmente
importante dada la circumstancia, nos será útil para identifcar nombres de 
servicios pertenecientes a nuestro Bundle.</p>
<p>Nuestro método de pago estará siempre disponible.</p>
<h2 id="calling-for-shipping-methods">Calling for Shipping methods<a class="headerlink" href="#calling-for-shipping-methods" title="Permanent link"> #</a></h2>
<p>Imaginemos que nuestro cart está terminado y queremos agarlo. La plataforma de
Elcodi tan solo ofrece una sola forma de recolectar dichos métodos.</p>
<p>Es importante entender que Elcodi en ningún momento tratará de lanzar ningún 
evento relacionado con el pago de un Order, pues será cada una de las 
plataformas y sus adaptaciones al proyecto los que se encargarán de lanzar sus
propios eventos.</p>
<p>En otras palabras, Elcodi solo propone un entry point al sistema de pago.</p>
<p>En el momento que queramos recolectar todos los métodos de pago, vamos a 
utilizar el servicio creado específicamente para ello.</p>
<pre><code class="php">$paymentMethods = $this
    -&gt;get('elcodi.wrapper.payment_methods')
    -&gt;get();
</code></pre>

<p>Internamente, este trozo de código lanza un evento llamado 
<em><a href="../events/#payment.collect">"payment.collect"</a></em>, encargado exclusivamente de
recolectar todos estos métodos de pago.</p>
<p>Es necesario decir que en este punto, el componente Event Dispatcher de Symfony
no se está utilizando de forma estricta a su definición, pues sé utiliza como 
colector y no como evento. La diferencia es que un evento debería ser inmutable
(un evento pasa y no hay mucho que hacer, solo reaccionar con los event 
listeners), pero en este caso, el objeto evento tiene un método <code>add</code>, por lo
que, aún no importando realmente el orden de ejecución de los listeners, se está
modificando el propio evento. Un evento que cambia... esto es raro, verdad?</p>
<ul>
<li><a href="../../cookbook/implementation/implement-a-collector/">Implement a collector</a></li>
</ul>
<p>Pero bueno, el evento de recolección es lanzado, y todos los Plugins que están
escuchados son llamados a añadir sus métodos de pago.</p>
<h2 id="adding-new-payment-method">Adding new Payment Method<a class="headerlink" href="#adding-new-payment-method" title="Permanent link"> #</a></h2>
<p>Para tí, programador, que quieres añadir un método de envío, este es tu sitio.
Recuerdas el evento <em><a href="../events/#shipping.collect">"shipping.collect"</a></em>? Pues 
bien, debemos escucharlo para añadir nuestras formas de envío.</p>
<p>Por ahora, ningún objeto se tiene en cuenta para decidir si un método de pago
está disponible o no, por lo que en principio solo se debería tener en cuenta
el estado del propio Plugin.</p>
<p>Veamos primero como podemos suscribirnos a este evento utilizando la misma forma
en que nos suscribimos a cualquier otro evento.</p>
<pre><code class="yml">services:

    #
    # Event Listeners
    #
    elcodi_plugin.free_payment.event_listener.payment_collect:
        class: Elcodi\Plugin\FreePayment\EventListener\PaymentCollectEventListener
        tags:
            - { name: kernel.event_listener, event: payment.collect, method: addCustomPaymentMethods }
</code></pre>

<p>Bien. En este Event Listener deberemos poner toda nuestra lógica de negocio.
Veamos un simple ejemplo de como podemos hacer dicha implementación.</p>
<pre><code class="php">use Elcodi\Component\Currency\Entity\Money;
use Elcodi\Component\Payment\Entity\PaymentMethod;
use Elcodi\Component\Payment\Event\PaymentCollectionEvent;

/**
 * Class PaymentCollectEventListener
 */
class PaymentCollectEventListener
{
    /**
     * Look for available payment methods
     *
     * @param PaymentCollectionEvent $event Event
     *
     * @return $this Self object
     */
    public function addCustomPaymentMethods(PaymentCollectionEvent $event)
    {
        $event
            -&gt;addPaymentMethod(new PaymentMethod(
                'free-payment',
                'Your order for free!',
                'You can buy whatever you want for free!',
                'http://my-free-payment.com',
                'http://my-free-payment.com/logo.png,
                '&lt;script&gt;&lt;/script&gt;'
            ));
    }
}
</code></pre>

<p>Como puedes observar, a la hora de crear la nueva instancia de <code>PaymentMethod</code>
puedes añaidr distintos elementos como <code>url</code>, <code>imageUrl</code> y <code>script</code>.</p>
<pre><code class="php">namespace Elcodi\Component\Payment\Entity;

/**
 * Class PaymentMethod
 */
class PaymentMethod
{
    /**
     * Construct
     *
     * @param string $id          Id
     * @param string $name        Name
     * @param string $description Description
     * @param string $url         Url
     * @param string $imageUrl    Image url
     * @param string $script      Script
     */
    public function __construct(
        $id,
        $name,
        $description,
        $url,
        $imageUrl = '',
        $script = ''
    ) {
        $this-&gt;id = $id;
        $this-&gt;name = $name;
        $this-&gt;description = $description;
        $this-&gt;url = $url;
        $this-&gt;imageUrl = $imageUrl;
        $this-&gt;script = $script;
    }
}
</code></pre>

<p>Esto es porque, en la gran mayoría de casos, una plataforma de pagos, o en su
defecto cualquiera de sus integraciones, proporciona uno de estos dos 
escenarios</p>
<ul>
<li>Proporciona una url de salto con una imágen asociada. En este caso, suele ser
habitual cuando trabajamos con pagos donde el usuario salta de dominio para
realizar el pago. En este caso deberíamos utilizar <code>url</code> y <code>imageUrl</code>.</li>
<li>Proporciona un script para el pago. Caso habitual para pagos internos sin 
salto de página con llamadas asíncronas mediante Javascript. En este caso
deberíamos utilizar <code>script</code> y <code>imageUrl</code> en caso que fuera necesario.</li>
</ul>
<h2 id="payment-scripts">Payment scripts<a class="headerlink" href="#payment-scripts" title="Permanent link"> #</a></h2>
<p>Para trabajar con plataformas que requieren trozos grandes de javascript, o 
simples trozos de html, es una buena práctica utilizar platillas de Twig.</p>
<p>Veamos un ejemplo un poco más complejo, utilizando scripts específicos y la 
utilización del router para crear rutas.</p>
<pre><code class="php">use Symfony\Bundle\FrameworkBundle\Templating\EngineInterface;
use Symfony\Component\Form\FormFactory;
use Symfony\Component\Routing\Generator\UrlGeneratorInterface;

use Elcodi\Component\Currency\Entity\Money;
use Elcodi\Component\Payment\Entity\PaymentMethod;
use Elcodi\Component\Payment\Event\PaymentCollectionEvent;

/**
 * Class PaymentCollectEventListener
 */
class PaymentCollectEventListener
{   
    /**
     * @var EngineInterface
     *
     * Twig engine
     */
    protected $templating;

    /**
     * @var FormFactory
     *
     * Form factory
     */
    protected $formFactory;

    /**
     * @var UrlGeneratorInterface
     *
     * Router
     */
    protected $router;

    /**
     * Construct
     *
     * @param EngineInterface $templating         Twig engine
     * @param FormFactory     $formFactory        Form factory
     * @param UrlGeneratorInterface $urlGenerator Url generator
     */
    public function __construct(
        EngineInterface $templating,
        FormFactory $formFactory,
        UrlGeneratorInterface $urlGenerator
    ) {
        $this-&gt;templating = $templating;
        $this-&gt;formFactory = $formFactory;
        $this-&gt;urlGenerator = $urlGenerator;
    }

    /**
     * Look for available payment methods
     *
     * @param PaymentCollectionEvent $event Event
     *
     * @return $this Self object
     */
    public function addCustomPaymentMethods(PaymentCollectionEvent $event)
    {
        /**
         * If we need to create a new url
         */
        $url = $this
            -&gt;urlGenerator
            -&gt;generate('free_payment_url);

        /**
         * If we need to inject a custom view with a custom form view, then
         * you must create both elements like is shown here
         */
        $form = $this
            -&gt;formFactory
            -&gt;create('free_payment_form_type')
            -&gt;createView();

        $view = $this
            -&gt;templating
            -&gt;render('FreePaymentBundle:Payment:view.html.twig', [
                'form' =&gt; $form,
            ]);

        $event
            -&gt;addPaymentMethod(new PaymentMethod(
                'free-payment',
                'Your order for free!',
                'You can buy whatever you want for free!',
                $url,
                'http://my-free-payment.com/logo.png,
                $view
            ));
    }
}
</code></pre>

<p>And the Dependency Injection definition would be like this</p>
<pre><code class="yml">services:

    #
    # Event Listeners
    #
    elcodi_plugin.free_payment.event_listener.payment_collect:
        class: Elcodi\Plugin\FreePayment\EventListener\PaymentCollectEventListener
        arguments:
            - @templating
            - @form.factory
            - @router
        tags:
            - { name: kernel.event_listener, event: payment.collect, method: addCustomPaymentMethods }
</code></pre>

<h2 id="accessing-collected-methods">Accessing collected methods<a class="headerlink" href="#accessing-collected-methods" title="Permanent link"> #</a></h2>
<p>Una vez hemos añadido todos nuestros métodos de pago, deberíamos poder acceder a
toda la información para poder ofrecer las distintas formas de pago al usuario.
Vemos un trozo de código de nuestro template.</p>
<pre><code class="jinja">&lt;div class=&quot;form-checkout&quot;&gt;
    {% for paymentMethod in paymentMethods %}
        {% set paymentMethodName = paymentMethod.name %}
        {% if paymentMethod.url %}
                &lt;h2&gt;{{ paymentMethodName|trans }}&lt;/h2&gt;
                &lt;p&gt;&lt;a href=&quot;{{ paymentMethod.url }}&quot; class=&quot;button button-secondary&quot;&gt;{{ 'template.store_template_bundle.checkout.payment.continue'|trans }}&lt;/a&gt;&lt;/p&gt;
                &lt;hr /&gt;
        {% else %}
            &lt;details class=&quot;test-payment-{{ paymentMethod.id }} form form-{{ paymentMethodName|trans|lower }}&quot;&gt;
                &lt;summary&gt;{{ paymentMethodName|trans }}&lt;/summary&gt;
                &lt;div class=&quot;payment-wrapper&quot;&gt;
                    {{ paymentMethod.script|raw }}
                &lt;/div&gt;
            &lt;/details&gt;
        {% endif %}

    {% endfor %}
&lt;/div&gt;
</code></pre>

<p>Como puedes ver se tratan ambos casos (con script o sin él). Cada uno de los
elementos en el array con nombre <code>paymentMethods</code> es cada uno de los objetos que
las plataformas de pago han añadido previamente.</p>
<p>Otra forma de acceder a los métodos de pago directamente desde el template es
utilizando la función de twig</p>
<pre><code class="jinja">{% set paymentMethods = elcodi_payment_methods() %}
</code></pre>

<h2 id="payment">Payment<a class="headerlink" href="#payment" title="Permanent link"> #</a></h2>
<p>As said before, each platform should take care about the payment process. Of 
course, only one strict action must be done in this process, and this is the
transformation of the cart to a valid order.</p>
<p>This action is not responsibility of the payment platform at all, but it should
dispatch the change by using one available service.</p>
<pre><code class="php">$cart = $this
    -&gt;cartWrapper
    -&gt;get();

$order = $this
    -&gt;container
    -&gt;get('elcodi.transformer.cart_order')
    -&gt;createOrderFromCart($cart);
</code></pre>

<h2 id="payment-state-machine">Payment State Machine<a class="headerlink" href="#payment-state-machine" title="Permanent link"> #</a></h2>
<p>At this point, the order is ready to be shipped. Once starting these last steps
on this documentation, please take a look at the State Transition Machine 
documentation.</p>
<ul>
<li><a href="../../component/state-transition-machine/">State Transition Machine</a></li>
</ul>
<p>Bamboo por defecto propone un diagrama de estados de pago como el que podemos
ver aqui.</p>
<table>
<thead>
<tr>
<th>From</th>
<th>Action</th>
<th>To</th>
</tr>
</thead>
<tbody>
<tr>
<td>unpaid</td>
<td>pay</td>
<td>paid</td>
</tr>
<tr>
<td>paid</td>
<td>refund</td>
<td>refunded</td>
</tr>
</tbody>
</table>
<p>y mediante el Container de Symfony tenemos acceso a algunos objetos específicos
de la máquina de estados de Pago.</p>
<pre><code class="yaml">#
# Order state machine for Shipping
#
elcodi.order_payment_states_machine_builder:
    class: Elcodi\Component\StateTransitionMachine\Machine\MachineBuilder
    arguments:
        - @elcodi.factory.state_transition_machine
        - %elcodi.order_payment_states_machine_identifier%
        - %elcodi.order_payment_states_machine_states%
        - %elcodi.order_payment_states_machine_point_of_entry%

elcodi.order.payment_states_machine:
    class: Elcodi\Component\StateTransitionMachine\Machine\Machine
    factory:
        - @elcodi.order_payment_states_machine_builder
        - compile

elcodi.order_payment_states_machine_manager:
    class: Elcodi\Component\StateTransitionMachine\Machine\MachineManager
    arguments:
        - @elcodi.order.payment_states_machine
        - @event_dispatcher
        - @elcodi.factory.state_transition_machine_state_line
</code></pre>

<h2 id="updating-the-payment-state">Updating the Payment state<a class="headerlink" href="#updating-the-payment-state" title="Permanent link"> #</a></h2>
<p>Con dicho acceso a la máquina de estados de pago, podemos cambiar el order de
estados utilizando el servicio <code>elcodi.order_payment_states_machine</code>.</p>
<p>Veamos un ejemplo de como avanzar a un estado <code>paid</code> teniendo en cuenta que
nuestro Order está actualmente en el estado <code>unpaconfid</code>.</p>
<pre><code class="php">$order = // Order instance;

$stateLineStack = $this
    -&gt;get('elcodi.order_payment_states_machine_manager')
    -&gt;transition(
        $order,
        $order-&gt;getPaymentStateLineStack(),
        'paid',
        'Order paid by credit cart'
    );

$order-&gt;setPaymentStateLineStack($stateLineStack);
$this
    -&gt;get('elcodi.object_manager.order')
    -&gt;flush($order);
</code></pre>

<p>Solo si dicha transición es posible todo funcionará debidamente. En caso 
contrario las excepciones pertinentes saltarán.</p></div>
            
        </div>

        <footer class="col-md-12">
            <hr>
            
                <p>Copyright © 2014/2015 <a href="http://www.elcodi.io">Elcodi</a>. All rights reserved.</p>
            
        </footer>

        <script src="../../js/jquery-1.10.2.min.js"></script>
        <script src="../../js/bootstrap-3.0.3.min.js"></script>
        <script src="../../js/highlight.pack.js"></script>
        <script>var base_url = '../..';</script>
        <script data-main="../../mkdocs/js/search.js" src="../../mkdocs/js/require.js"></script>
        <script src="../../js/base.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="Search Modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Search</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            From here you can search these documents. Enter
                            your search terms below.
                        </p>
                        <form role="form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search..." id="mkdocs-search-query">
                            </div>
                        </form>
                        <div id="mkdocs-search-results"></div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
